<html>
<head>
    <title>Rambo/MongoDB Blog</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
</head>

<body>
    
    <div class="navbar">
        <li><a href="/">Rambo/MongoDB Blog</a></li>
        <% if @post %>
            <li> / <%= @post.title %></li>
        <% end %>
    </div>
    
    <div class="maintext">
        <%= yield %>
    </div>
    
</body>
</html>