<h1><%= @post.title %></h1>

<p><%= @post.body %></h2>
    
<h3>Comments:</h3>

<% @post.comments.each do |comment| %>
    <%= comment.message %><br/>
<% end %>

<form action="/blog/create_comment/<%=@post.id%>">
    <p><textarea name="comment[message]" class="textarea"></textarea></p>
    <input type="submit" value="Create"/>
</form>