body {font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ; background: white; color: black;}
code {font-family: "Courier New", Courier, Monaco, monospace;}
pre {font-family: "Courier New", Courier, Monaco, monospace;}
hr {color: gray ;}
.maintext {max-width: 50em; margin: auto;}
.navbar {font-size: 100%; font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; background: #BCD5FE; padding: 2px;}
.navarea { background: #FFFF66;}
.notrecommended {color: #666666;}
.deemphasized {color: #666666;}
TABLE.densetable {font-size: 80%;}
TR.summaryrow { font-size: 90%; background: #00FFFF;}
CAPTION {font-size: 100%;}
.embeddedfloat {float: right; margin-left: 3em;}
H1, H2, H3, H4, H5, H6 {font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;}
H4 {margin-bottom: 0.5em;}
H5, H6 {margin-bottom: 0.2em;}
UL.referencelist, .footnote {margin-left: 4em; text-indent: -4em ; font-size: 83%; font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; list-style: none;}
A:link, .simulatedlink {color: blue;}
A.old:link {color: #2222FF;}
A.new:link {color: #0000FF;}
A:visited {color: purple;}
A:active {color: red;}
A.notrecommended:link {color: #6666FF;}
A.notrecommended:visited {color: #CC66CC;}
A.deemphasized:link {color: #6666FF;}
A.deemphasized:visited {color: #CC66CC;}
.overline {font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; margin-top: -2ex;}
.updatecomment {font-size: 100%; background: #00FFFF;}
.outsidecomment {font-size: 100%; background: #E9E9E9;}
.microtext {font-size: 10% ; }
.useem {color: #CC0000 ;}
.cssSmallGray {font-size: xx-small; color: #999999;}
.boxquote {border: solid 1px gray; padding: 1ex;}

blockquote {background-color: rgb(255, 255, 221);}
.navbar li {list-style:none; display:inline;}
.hide {display:none;}
.textfield {width:600px; font-size:20px;}
.textarea {width:600px; height:300px; font-size:20px; }
.admin_action {background-color: rgb(255, 255, 221);}