<h1>Rambo Blog: Setup</h1>

<form action="/blog/create" method="POST">
    <p>Blog Title:</p>
    <p><input name="blog[title]" type="text"/></p>
    <p>Blog Description:</p>
    <p><input name="blog[description]" type="text"/></p>
    <p>Username:</p>
    <p><input name="blog[username]" type="text"/></p>
    <p>Password:</p>
    <p><input name="blog[password]" type="password"/></p>
    <p><input type="submit" value="create">
</form>