<html>
<head>
    <title>Blog Example: Rambo</title>
    <!--<script src="/js/jquery.js" type="text/javascript"></script>-->
    <link href="/css/moo.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<a href="/posts">Posts</a>

<%= yield %>

</body>
</html>