<html>
<head>
    <title>Blog Example: Rambo</title>
    <!--<script src="/js/jquery.js" type="text/javascript"></script>-->
    <link href="/css/moo.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<% if @blog %>
    <h2><a href="/posts"><%= @blog.title %></a></h2>
    <p><%= @blog.description %> <% if session[:admin] %>logged in<% end %></p>
<% end %>

<%= yield %>

</body>
</html>