<html>
<head>
    <title>Blog Example: Moo Server</title>
    <!--<script src="/javascripts/base_1238779156.js?1238779161" type="text/javascript"></script>-->
    <link href="/css/moo.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<a href="/posts">Posts</a>

<%= yield %>

</body>
</html>