<h2>Login</h2>

<form action="dologin" method="POST">
    <p>Username:</p>
    <p><input name="username" type="text"/></p>
    <p>Password:</p>
    <p><input name="password" type="password"></p>
    <p><input type="submit" value="login"/></p>
</form>