<p>Your unique id is: <%= @user.account.uid %> </p>

<textarea rows="5" cols="100">&lt;script type="text/javascript"&gt;
  document.write(unescape("%3Cscript src='http://<%= @host %>/comments/embed/<%= @user.account.uid %>?url="+window.location.href+"' type='text/javascript'%3E%3C/script%3E"));
&lt;/script&gt;